<!-- The Container -->
<mat-sidenav-container class="container">

  <!-- The nav bar on the left -->
  <mat-sidenav #sideNav
               mode="side"
               [opened]="!isSmallScreen()"
               [mode]="isSmallScreen() ? 'over' : 'side'"
               class="side-nav mat-elevation-z10">
    <!-- mat-elevation-zX class controls how much shadow is displayed: the greater the X number, the deeper the shadow is -->

    <!-- Title of the nav bar -->
    <mat-toolbar color="primary">
      <span>Contacts</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let user of users | async">
        <a matLine [routerLink]="['contacts', user.id]">
          <mat-icon [svgIcon]="user.avatar"></mat-icon>
          {{ user.name }}
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- The content on the right -->
  <mat-sidenav-content>
    <!-- Title of the content section -->
    <app-toolbar (toggleSideNav)="sideNav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
