<mat-spinner *ngIf="!user"></mat-spinner>

<mat-card *ngIf="user">
  <mat-card-header>
    <mat-icon mat-card-avatar [svgIcon]="user.avatar"></mat-icon>
    <mat-card-title>
      <h2> {{ user.name }}</h2>
    </mat-card-title>
    <mat-card-subtitle>{{ user.birthDate | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Bio"> {{ user.bio }} </mat-tab>
      <mat-tab label="Notes">{{ user.notes | json }}</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
